version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    container_name: readfi-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: readfi
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: readfi-redis
    ports:
      - "6379:6379"
volumes:
  pgdata:
